.formLogin {
    border-radius   : 5px;
    height          : 400px;
    width           : 400px;
    padding         : 20px;
    background-color: white;
    box-shadow      : -10px 5px 10px rgba(0, 0, 0, 0.45); 
}

.formLogin p a {
    color: #069;
}